num_threads=1
debug_mode=false
num_chan=15
r_start=2.5
r_stop=400
stats_step=1
num_cheb=16
tolerance=1e-10
force_tolerance=true
max_loops=10
e_in=-0.9839660965125899
output_file=out.h5
pot_config_file=rbcspot_conf.config
v_infty_r=10000000000.0
save_wavefunction=true
max_step=10.0
boundary_conditions=0
