num_threads=1
debug_mode=false
num_chan=8
r_start=2.5
r_stop=600
stats_step=1
num_cheb=16
tolerance=1e-10
force_tolerance=true
max_loops=300
e_in=-1.0802771649980145
output_file=out.h5
pot_config_file=rbcspot_conf.config
v_infty_r=10000000000.0
save_wavefunction=true
max_step=10.0
boundary_conditions=0
