num_terms=5
l_num_file=in\\l_list.h5

t0_matrix_file=in\\H_S0.h5
t0_pre_factor=1.0
t0_radial_dependent=yes
t0_radial_file=radial_scripts\\rb2_pot_S0.lua

t1_matrix_file=in\\H_S1.h5
t1_pre_factor=1.0
t1_radial_dependent=yes
t1_radial_file=radial_scripts\\rb2_pot_S1.lua

t2_matrix_file=in\\H_dip.h5
t2_pre_factor=1.0
t2_radial_dependent=yes
t2_radial_file=radial_scripts\\rb2_pot_lambda.lua

t3_matrix_file=in\\H_hyp.h5
t3_pre_factor=1.0
t3_radial_dependent=no
t3_radial_file=radial_scripts\\t1rad.lua

t4_matrix_file=in\\H_zee.h5
t4_pre_factor=1.0
t4_radial_dependent=no
t4_radial_file=radial_scripts\\t1rad.lua